:host{
    .divider-toggle-container{
        cursor: pointer !important;
    }
    .divider-toggle-container i:hover{
        background-color: #88BDBC;
        border-radius: 8px;
    }
    .p-inputtext{
        width: 100%;
    }
   
}