<div class="card flex justify-content-center gap-2">
  <p-toast position="top-left" [life]="2000"></p-toast>
</div>

<div class="weather-container">
  <div class="weather-content">
    <div class="weather-header">
      <div class="time-display">
        {{ timeNow() }}
      </div>
      <div class="weather-input">
        <span class="p-float-label p-input-icon-right">
          <i class="pi pi-search"></i>
          <input pInputText type="text" class="weather-input-text" [(ngModel)]="inputText" (keydown.enter)="inputTextEnter()"/>
          <label for="country">Search City or Postcode</label>
        </span>
      </div>
      <div class="weather-lang">
        <p-dropdown class="lang-dropdown" [options]="langList" [(ngModel)]="selectedLang" optionLabel="code" [showClear]="false" placeholder="English" [tooltip]="selectedLang.name" tooltipPosition="bottom" ></p-dropdown>
      </div>
    </div>
    
    <div class="weather-body">
      <div class="weather-data">
        <p-divider 
        align="center" 
        type="solid"
        >
          <b>divider 1</b>
        </p-divider>
  
        <p class="m-0">
          <br>
          Last Updated: {{ this.dataService.dt_time() }}
          <br>
          Language: {{ selectedLang.name }}
          <br>
          City/Postcode Input : {{ inputText }}
          <br>
           data: {{ data()|json }}
           <br>
           citiesList : {{citiesList()|json}}
           <br>
           listboxvisible : {{ listboxVisible }}
           <br>
           selectedCity : {{ selectedCity|json}}
        </p>

        @if(listboxVisible){
          <div class="card flex justify-content-center">
            <p-listbox
            [options]="citiesList()"
            [(ngModel)] = "selectedCity"
            optionLabel="name"
            [style]="{'width':'10rem'}" 
            [listStyle]="{'max-height': '220px'}"
            ></p-listbox>
          </div>
          <button 
          pButton 
          pRipple 
          label="Submit" 
          class="p-button-success" 
          (click)="handleListBoxSubmit()"
          [disabled]="!this.selectedCity">
          </button>
        }
        
  
        <p-divider
          align="center"
          type="solid"
          (click)="toggleDivider()"
          class="divider-toggle-container"
        >
          <i [class]="dividerIcon()"></i>
        </p-divider>
  
        @if(this.dividerFlag()){
        <p class="m-0">
          Temporibus autem quibusdam et aut officiis debitis aut rerum
          necessitatibus saepe eveniet ut et voluptates repudiandae sint et
          molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
          delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat. Donec vel volutpat ipsum.
          Integer nunc magna, posuere ut tincidunt eget, egestas vitae sapien.
          Morbi dapibus luctus odio.
        </p>
        }
      </div>
    </div>
  </div>
</div>
