// /* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    app-header{
        display: flex;
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        padding: 5px;
        .weather-header{
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .weather-header-right{
                display: flex;
                align-items: center;
            }
        }
    }
    main{
        height: calc(100vh - 50px);
        position: fixed;
        bottom: 0;
        overflow-y: auto;
    }
    .weather-container{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        // overflow: hidden;
        width: 100vw;
        height: 100vh;
        .weather-body{
            width: 100%;
            height: calc(100vh - 95px);
            .weather-data{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 20px;
                .data-row{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    width: 100%;
                    flex-grow: 1;
                    flex-wrap: wrap;
                    .data-main{
                        display: flex;
                        flex-grow: 1;
                        // width: 65%;
                        max-width: calc(65% - 10px);
                        .p-card{
                            height: 100%;
                            .p-card-body{

                            } 
                        }     
                    }
                    .data-secondary{
                        display: flex;
                        flex-grow: 1;
                        // width: 35%;
                        max-width: calc(35% - 10px);
                        .p-card{
                            height: 100%;
                            .p-card-body{

                            } 
                        } 
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body .weather-container .weather-body .weather-data .data-row .data-main,
    body .weather-container .weather-body .weather-data .data-row .data-secondary {
        max-width: 100%;
    }
}