// /* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    app-header{
        display: flex;
        height: 60px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        padding: 10px;
        .weather-header{
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .weather-header-right{
                display: flex;
                align-items: center;
                .weather-input{
                    width: 280px;
                }
                .weather-lang{
                    width: 100px;
                }
            }
        }
    }
    main{
        height: calc(100vh - 50px);
        position: fixed;
        bottom: 0;
        overflow-y: auto;
    }
    .weather-container{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100vw;
        height: calc(100vh - 50px);
        .weather-body{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 20px;
            .data-row{
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                flex-grow: 1;
                flex-wrap: wrap;
                .data-primary{
                    display: flex;
                    flex-grow: 1;
                    // max-width: calc(65% - 10px);;
                    width: calc(65% - 10px);
                    height: 100%;
                    p-card{
                        height: 100%;
                        width: 100%;
                        .p-card.p-component{
                            display: flex;
                            justify-content: space-around;
                            align-items: flex-start;
                            width: 100%;
                            height: 100%;
                        }
                        .p-card-body{
                            width: 100%;
                        }
                    }     
                }
                .data-secondary{
                    display: flex;
                    flex-grow: 1;
                    width: calc(35% - 10px);
                    height: 100%;
                    p-card{
                        height: 100%;
                        width: 100%;
                        .p-card.p-component{
                            display: flex;
                            justify-content: space-around;
                            align-items: flex-start;
                            width: 100%;
                            height: 100%;
                        }
                        .p-card-body{
                            width: 100%;
                        } 
                    } 
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body .weather-container .weather-body .data-row .data-primary,
    body .weather-container .weather-body .data-row .data-secondary {
        width: 100%;
    }
    .time-display{
        display: none;
    }
    .weather-header-right{
        width: 100%;
        justify-content: space-evenly;
        .weather-input{
            width: 70% !important;
        }
        .weather-lang{
            width: 20% !important;
        }
    }
    .card-content{
        flex-wrap: wrap;
    }
    .current-data{
        width: 50%;
    }
    .weather-country{
        width: 50%;
    }
    .text-4xl{
        font-size: 25px !important;
    }
    .text-base{
        font-size: 13px !important;
    }
}