/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.weather-content{
    margin : 0;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.weather-input{
    width: 100%;
    margin: 0 0 0 calc(100% - 480px);
    position: absolute;
    border-radius: 30px;
}
.weather-header{
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 0 0 0 0;
    padding: 10px;
}
.weather-data{
    width: 100%;
}
.weather-lang {
    margin: 0 0 0 calc(100% - 190px);
    position: absolute;
    .p-dropdown {
        width: 7rem;
        border-radius: 30px;
    }
}
.weather-input-text{
    border-radius: 50px;
}
.time-display {
    padding: 11px 0 0 0;
}
